# Port tempat aplikasi Dashboard Express berjalan (default: 3000)
PORT=3000

# Base URL API Ticketing (Format satu pintu dengan api_key)
TICKETING_API_URL=https://www.snam110.dpdns.org/helpdesk/api/monitoring?api_key=ticketing-monitoring-2026

# API subcon
SUBCON_API_URL=https://www.snam110.dpdns.org/e-subcon/api/monitoring?api_key=subcon-management-monitoring-2026

# Durasi Cache internal Express (detik) untuk meringankan beban server Laravel
CACHE_TTL_SECONDS=5

# Interval auto-refresh data di layar TV/browser (detik)
REFRESH_INTERVAL_SECONDS=15

