# Salin file ini menjadi .env lalu sesuaikan nilainya
PORT=3000
TICKETING_API_URL=http://127.0.0.1:8002/api/v1
TICKETING_API_KEY=tk_live_UQ6LbgRmq2dSldzeTuSkZbAezAr1aDaV
CACHE_TTL_SECONDS=5
REFRESH_INTERVAL_SECONDS=15
